<HTML>
<HEAD>	<LINK media=screen href="sgstyle.css" type=text/css rel=stylesheet>
<STYLE>
</STYLE>
</HEAD>

<BODY>

<div id="splash" style="border: 1px dotted black">

<div style="width: 50%; height: 50%; position: absolute; top: 0; left: 0">
	[% INCLUDE sgpuzzle.incl %]
</div>

<div style="width: 50%; height: 50%; position: absolute; bottom: 0; right: 0">
	[% INCLUDE sgpuzzle.incl %]
</div>

</div>	<!-- splash -->

</BODY>
</HTML>
